<body ng-controller="mainController">
<div class="container-fluid">
</div>

<div class="container-fluid col-md-12">

  <div class="jumbotron text-center">
    <h1>Lista de alumnos</h1>
  </div>


  <div class="container-fluid col-md-12">

    <div class="col col-md-6">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Teléfono</th>
        </tr>
        </thead>
        <tbody ng-repeat="i in students">
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.address}}</td>
          <td>{{i.phone}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>
