<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="col-md-offset-4 col-md-4">

    <form (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="name">Nombre del estudiante</label>
        <input type="text" [(ngModel)]="student.name" class="form-control" name="name" id="name" required>
      </div>

      <div class="form-group">
        <label for="address">Direccion del estudiante</label>
        <input type="text" [(ngModel)]="student.address" class="form-control" name="address" id="address" required>
      </div>

      <div class="form-group">
        <label for="phone">Teléfono del estudiante</label>
        <input type="text"  [(ngModel)]="student.phone" class="form-control" name="phone" id="phone" required>
      </div>

      <button type="submit" class="btn btn-success" >Añadir alumno</button>
    </form>

    <br>
  </div>
</div>



