<body ng-controller="mainController">
<div class="container-fluid">
  <!--Cabecera-->
  <div class="jumbotron text-center">
    <h1>Lista de asignaturas</h1>
  </div>
</div>

<div class="container-fluid col-md-12">

  <div class="col col-md-6">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Asignatura</th>
        <th>Titulación</th>
        <th>Quadrimestre</th>
        <th>Alumnos</th>
      </tr>
      </thead>
      <tbody ng-repeat="i in students">
      <tr>
        <td>{{i.subject}}</td>
        <td>{{i.studies}}</td>
        <td>{{i.quadrimestre}}</td>
        <td>{{i.students}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


</body>
